# Entornos virtuales
venv/
.venv/

# Archivos de entorno
.env
.env.local

# Archivos Python temporales
__pycache__/
*.py[cod]

# Base de datos local
*.sqlite3
*.db

# Archivos de IDE
.idea/
.vscode/

# Archivos de sistema
.DS_Store